<!-- <nav>
  <a target="/home">Home</a>
  <a routerLink="/about">Warrior</a>
  <a ruterLink="/contact">Deaths</a>
  <a ruterLink="/contact"></a>
</nav> -->
<input type="file" (change)="onChange($event)">
<button id="parse-btn" *ngIf="newInput" (click)="parseWarrior()">Parse New File</button>
<!-- <button (click)="getExtraAttacks()"> Get Extra Attacks </button> -->

<!-- <button (click)="getProcs()"> Get Procs </button> -->
<!-- <button (click)="getDeaths()"> Get Deaths</button> -->
<div id="grid">
  <app-warrior *ngFor="let warrior of warriorsArray" [warrior]="warrior" />
</div>
<div id="bottom-container">
  <h2>File Content</h2>
  <button id="textbox-btn" (click)="readTextBox()">Parse New Text</button>
  <textarea id="text-box">{{ fileContent }}</textarea>
</div>