<!-- <nav>
  <a target="/home">Home</a>
  <a routerLink="/about">Warrior</a>
  <a ruterLink="/contact">Deaths</a>
  <a ruterLink="/contact"></a>
</nav> -->
<input type="file" (change)="onChange($event)">
<button type="file" (click)="readFile()">Read File</button><br><br>
<button (click)="parseWarrior()"> Parse </button>
<button (click)="logContent()"> Log </button>
<!-- <button (click)="getExtraAttacks()"> Get Extra Attacks </button> -->

<!-- <button (click)="getProcs()"> Get Procs </button> -->
<button (click)="getDeaths()"> Get Deaths</button>
<div>
      <div id="grid">
        <app-warrior *ngFor="let warrior of warriorsArray" [warrior]="warrior" />
      </div>
    <h3>File Content</h3>
        <textarea id="text-box">{{ fileContent }}</textarea>
</div>